{% extends 'base.html' %}


{% block content %}
<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <br><br>
    <h1 class="header center blue-text">Existing projects</h1>
    <table>
      <thead>
        <tr>
          <th>Project Name</th>
          <th>Input</th>
          <th>Output</th>
          <th>Completed Labels</th>
          <th>Total Images</th>

        </tr>
      </thead>
      <tbody>
      {% for project in projects %}
      <tr>
        <td> <a href="/set/{{project['name']}}">{{project["name"]}}</td>
        <td>{{project["input"]}}</td>
        <td>{{project["output"]}}</td>
        <td>{{project["n_complete"]}}</td>
        <td>{{project["n_total"]}}</td>
        <td><a href="{{ url_for('deleteproject', pname=project['name']) }}"><i class="small material-icons">delete_forever</i></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
<br><br>
    <div class="row center">
          <a href="/newproject"><button type="submit" name="begin" class="btn-large waves-effect waves-light orange" value="over">Start a new project</button>
    </div>


  </div>
</div>
{% endblock %}
